.banner-container {
    max-width: auto;
    max-height: 808px;
    margin: 0 auto;
    position: relative;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.banner-text {


    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10% -50%);
    text-align: center right;
}

.banner-title {

    color: #FFF;
    text-align: right;
    font-family: "Work Sans";
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 200px;
}

.banner-content {
    color: #FFF;
    text-align: right;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-right: 200px;
}

.btn-1 {
    width: 160px;
    height: 65px;
    border-radius: 10px;
    background: #FFF;
    border: 0px;
    color: #005FAC;

    font-family: "Work Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    position: absolute;
    right: 200px;


}

.image-person {

    width: 450px;
    padding-left: 277px;
    /* padding-top: 250px; */
}

.div-2 {


    padding-right: 277px;
    padding-top: 250px;
    display: flex;
    align-items: center;
    gap: 90px;

}

.title-2 {

    color: #151414;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.para-2 {

    color: #444343;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.list-1 {

    color: #444343;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.plans-text {



    color: #151414;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



.img-1{
    margin-left: 45px;
    width: 92.958px;
height: 92.958px;
flex-shrink: 0;
}

.img-2{
    margin-left: 20px;
    width: 92.958px;
height: 92.958px;
flex-shrink: 0;
}

.img-3{
    margin-left: 15px;
    width: 92.958px;
height: 92.958px;
flex-shrink: 0;
}

.img-4{
    margin-left: 20px;
    width: 92.958px;
height: 92.958px;
flex-shrink: 0;

}

.plans-div{

    display: flex;
    padding: 0px 290px;

    gap: 250px;
}


.plans-title{
    color: #151414;
text-align: center;
font-family: "Work Sans";
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.plans-para{
    color:  #737272;
text-align: center;
font-family: "Work Sans";
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: normal;

}